  button {
    border-radius: 5px;
  }
  
  option {
    display: flex;
    justify-content: center;
  }
  
  select {
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
  }
  
  
  .container{
    margin-top: 10%;
    margin-left: 20% ;
    width: 60%;
    background-color: #fff;
    padding: 15px 0px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  
  .container .title{
    font-weight: 500;
    position: relative;
    text-align: center;
    padding: 8px 0px 15px;
    border-bottom: 1px solid silver;
    font-size: 18px;
  }
  
  .container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
  }
  
  .content{
    padding: 15px 30px 8px 30px;
  }

  form input[type="text"]{
    width:70%;
  }

  form .button{
    height: 45px;
    margin: 35px
  }
  form .button[type="submit"]{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    border: 1px solid;;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #2691d9;
    margin: 35px 0
  }
  form .button input:hover{
    /* transform: scale(0.99); */
    background: #126ca4;
    border-color: #126ca4;
    transition: .5s;
  }
  
  .signup_link{
    margin: 30px 0;
    margin-bottom: 8px;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  
  .signup_link a{
    color: #2691d9;
    text-decoration: none;
  }
  
  .signup_link a:hover{
    text-decoration: underline;
  }
  
  @media(max-width: 584px){
    .container{
      max-width: 100%;
    }
    form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
  }

    #user {display:inline-block;margin-right:10px;} 
    #button-block {
        display:inline-block;
        color:#444;
        border:1px solid #CCC;
        background:#DDD;
        box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
        cursor:pointer;
        vertical-align:middle;
        max-width: 300px;
        padding: 5px;
        text-align: center;
}
#button-block:active {
    color:blue;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}
    
  
  @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }
  
  