<div class="topMenu">
    <div>
      <h1>MRS</h1>
    </div>
    <nav class="topCenterMenu">
      <a [routerLink]="['/home-page']" [queryParams]="{ id : loggedUserId }"><img src="/assets/Imgs/Logos/home-logo.png" alt="Home Button"></a>
      <a [routerLink]="['/game-page']" [queryParams]="{ id : loggedUserId }"><img src="/assets/Imgs/Logos/game-logo.png" alt="Game Button"></a>
      <a [routerLink]="['/leader-board-page']" [queryParams]="{ id : loggedUserId }"><img src="assets/Imgs/Logos/leader-board-logo.png" alt="LeaderBoard Button"></a>
      <a [routerLink]="['/profile-page']" [queryParams]="{ id : loggedUserId }"><img src="/assets/Imgs/Logos/profile-logo.png" alt="Profile Button" class="profileImg"></a>
    </nav>
    <nav>
      <a (click)="logout()" [routerLink]="['/login-page']" [queryParams]="{ id : undefined }"><img src="/assets/Imgs/Logos/logout-logo.png" alt="LogOut Button" class="logOutImg"></a>
    </nav>
  </div>
  <div class="container">
    <div class="title">
      <form (ngSubmit) = "search(keyword)" >
        <input type = "text" id="keyword" name = "keyword" placeholder = " Search...." [(ngModel)]="keyword">
        <br/>
        <input type = "submit" (click)="search(keyword)" value=" Go ">
     </form>
    </div>
    <div class="content">
      <ng-container *ngFor="let us of users">
        <div class="row">
          <div style="color: #8e44ad" id = "user"><strong>{{us}}</strong></div>
          <div id="button-block">
            <div id="connectionRequest" (click)="sendConnectionRequest()">Send Connection Request</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
