<div class="topMenu">
  <div>
    <h1>MRS</h1>
  </div>
  <nav class="topCenterMenu">
    <a [routerLink]="['/home-page']" [queryParams]="{ id : loggedUserId }"><img src="/assets/Imgs/Logos/home-logo.png" alt="Home Button"></a>
    <a [routerLink]="['/game-page']" [queryParams]="{ id : loggedUserId }"><img src="/assets/Imgs/Logos/game-logo.png" alt="Game Button"></a>
    <a [routerLink]="['/leader-board-page']" [queryParams]="{ id : loggedUserId }"><img src="assets/Imgs/Logos/leader-board-logo.png" alt="LeaderBoard Button"></a>
    <a [routerLink]="['/profile-page']" [queryParams]="{ id : loggedUserId }"><img src="/assets/Imgs/Logos/profile-logo.png" alt="Profile Button" class="profileImg"></a>
  </nav>
  <nav>
    <a (click)="logout()" [routerLink]="['/login-page']" [queryParams]="{ id : undefined }"><img src="/assets/Imgs/Logos/logout-logo.png" alt="LogOut Button" class="logOutImg"></a>
  </nav>
</div>

<div class="container">
  <div class="title"><h1>Accept Connections</h1></div>
  <div class="content">
    <div class="form">
      <div class="emotional-state-dropdown" style="margin-right:90% ">
        <div class="dropdown">
          <button class="dropbtn" name="dropbtn">Connections</button>
          <label>
            <select class="dropdown-content" name="dropdown-content" size="5"  onchange="this.form.dropbtn.innerHTML=this.value;" required [(ngModel)]="connectionRequestId" >
              <option *ngFor="let conn of connectionRequestIdArray" >{{conn}}</option>
            </select>
          </label>
        </div>
      </div>
            <div class="emotional-state-dropdown" >
              <div class="dropdown">
                <button class="dropbtn" name="dropbtn">Strength</button>
                <label>
                  <select class="dropdown-content" name="dropdown-content" size="4"  onchange="this.form.dropbtn.innerHTML=this.value;" required [(ngModel)]="strength" >
                    <option >-10</option>
                    <option>-9</option>
                    <option>-8</option>
                    <option>-7</option>
                    <option>-6</option>
                    <option>-5</option>
                    <option>-4</option>
                    <option>-3</option>
                    <option>-2</option>
                    <option>-1</option>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                  </select>
                </label>
              </div>
            </div>
      <div class="input-box2">
        <span class="details">Tags</span>
        <input type="text" style="margin-left: 1%" placeholder="Enter your tags" optional [(ngModel)]="tag" >
      </div>
      <div class="button">
        <input type="submit" value="Accept" (click)="acceptConnectionRequest()"  >


      </div>
      <div class="signup_link">
        Return to <a [routerLink]="['/display-user-pending-connections-page']" [queryParams]="{ id : loggedUserId }"> Pending Connections Page</a>
      </div>
    </div>
  </div>
</div>
