<div class="topMenu">
    <div>
        <h1>MRS</h1>
    </div>
    <nav class="topCenterMenu">
        <a [routerLink]="['/home-page']" [queryParams]="{ id : loggedUserId }"><img
                src="/assets/Imgs/Logos/home-logo.png" alt="Home Button"></a>
        <a [routerLink]="['/game-page']" [queryParams]="{ id : loggedUserId }"><img
                src="/assets/Imgs/Logos/game-logo.png" alt="Game Button"></a>
      <a [routerLink]="['/leader-board-page']" [queryParams]="{ id : loggedUserId }"><img src="assets/Imgs/Logos/leader-board-logo.png" alt="LeaderBoard Button"></a>
      <a [routerLink]="['/profile-page']" [queryParams]="{ id : loggedUserId }"><img src="/assets/Imgs/Logos/profile-logo.png" alt="Profile Button" class="profileImg"></a>

    </nav>
    <nav>
        <a [routerLink]="['/login-page']" [queryParams]="{ id : undefined }"><img
                src="/assets/Imgs/Logos/logout-logo.png" alt="LogOut Button" class="logOutImg"></a>
    </nav>
</div>
<div class="page">
    <div class="leftPanel">
    </div>
  <div class="profile">
    <h1>Friends</h1>
    <div class="selectLevel">
      <h2>Select the Friend: </h2>
      <div class="desiredLevelDropdown">
        <div class="dropdown">
          <button class="dropbtn" name="dropbtn">Friends</button>
          Currently Selected: {{selectedUser}}
          <label>
            <select class="dropdown-content" name="dropdown-content" size="{{connections.length + 1}}"  onchange="this.form.dropbtn.innerHTML=this.value;" required [(ngModel)]="selectedUser">
              <option *ngFor="let c of connections">{{c}}</option>
            </select>
          </label>
        </div>
      </div>
    </div>
    <div class="editConnection">
      <h1>Edit Connection</h1>
      <div class="form">
        <h2> Change Connection Strength: <input [(ngModel)]="user1ConnectionStrength" type="text"
                                               placeholder="New Connection Strength"> </h2>
        <h2> Change Tags: <input [(ngModel)]="connectionTags" type="text" placeholder="New Tag List"> </h2>
      </div>
      <nav class="saveButton">
        <button (click)="updateConnection()" [routerLink]="['/profile-page']"
                [queryParams]="{ id : loggedUserId }"> Save Changes </button>
      </nav>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
